body {
  position: relative;
  font-family: Roboto Mono, monospace;
  font-size: 16px;
  line-height: 1.2;
  color: rgb(68, 64, 60);
}

.text-yellow {
  color: rgb(234 179 8);
}

input {
  display: block;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid rgb(231 229 228);
}

input:focus {
  outline: 1px solid rgb(234, 179, 8);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.logo {
  text-decoration: none;
  font-size: 20px;
  color: rgb(68, 64, 60);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(234, 179, 8);
  padding: 15px 20px;
}

.content {
  padding-top: 67px;
}

.sub-title {
  margin-bottom: 30px;
  text-align: center;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

.error-text {
  display: block;
  margin: 2px 0;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ff7f7f;
}
